<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div>
      <%data.forEach (val=>{%>
        <h2><%=val.name%></h2>
        <img src="<%=val.img%>" alt="">
        <h5><%=val.level%></h5>

        <form action="./add" method="GET">
        <input type="text" name="name" value="<%=val.name%>">
        <input type="text" name="img" value="<%=val.img%>">
        <input type="text" name="level" value="<%=val.level%>">
        </form>
        <button>Add To Favourite</button>

        </div>
        <%})%>
</body>
</html>