<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <div>
        <h2><%=data.name%></h2>
        <img src="<%=data.img%>" alt="">
        <h5><%=data.level%></h5>
        <form action="/update/<%= data.id%>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%=data.name%>">
            <input type="text" name="img" value="<%=data.img%>">
            <input type="text" name="level" value="<%=data.level%>">
            <input type="submit" value="UPDATE">
        </form>
        <form action="/delete/<%= data.id%>?_method=delete" method="POST">
            <input type="submit" value="DELETE">

    </div>
</body>
</html>